{% extends 'base.html.twig' %}

{% block title 'Connexion' %}

{% block body %}
    <h1 class="mb-3">Merci de vous connecter</h1>
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post" class="row row-cols-1 g-2">
        <div class="col">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"/>
        </div>

        <div class="col">
            <label for="password">Mot de passe</label>
            <input type="password"  class="form-control" id="password" name="_password"/>
        </div>

        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="_remember_me" id="remember_me">
                <label>
                    Se souvenir de moi
                </label>
            </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="col">
            <button type="submit" class="btn btn-lg btn-primary">Connexion</button>
        </div>
    </form>

{% endblock %}
