{% for type, messages in app.flashes %}
    <div class="alert alert-{{ type }}">
        {% for message in messages %}
            <p class="mb-0">{{ message }}</p>
        {% endfor %}
    </div>
{% endfor %}