<form action="{{ path('app_recipe_index') }}" method="GET">
    <div class="form-row">
        <div class="input-group">
            <label class="sr-only form-label" for="search_search">Rechercher</label>
            <select id="search_season" name="season" class="rounded-start form-select">*
                <option value="all">Toute saison</option>
                <option value="winter">Hiver</option>
                <option value="spring">Printemps</option>
                <option value="summer">Été</option>
                <option value="autumn">Automne</option>
            </select>
            <select id="search_diet" name="diet" class="form-select">
                <option value="all">Tout régime</option>
                <option value="veggie">Veggie</option>
                <option value="vegan">Vegan</option>
            </select>
            <input type="text" id="search_search" name="search" placeholder="Rechercher par tag..." class="form-control">
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-light rounded-0 rounded-end">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</form>